h1{
    font-size: 96px;
}

h2{
    font-size: 56px;
}

h3{
    font-size: 48px;
}

h4{
    font-size: 40px;
}

h5{
    font-size: 32px;
}

h6{
    font-size: 24px;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

// Paragraphs
.text-regular{
    font-size: 20px;
}

.text-large-1{
    font-size: 64px;
}
.text-large-2{
    font-size: 40px;
}
.text-large-3{
    font-size: 32px;
}


.half-width{
    width: 50%;
}


// Labels
.caption{
    font-size: 15px;
}


// Responsive Design
@media screen and (max-width: 1000px) {
    h1{
        font-size: 84px;
    }
    
    h2{
        font-size: 70px;
    }
    
    h3{
        font-size: 64px;
    }
    
    h4{
        font-size: 56px;
    }
    
    h5{
        font-size: 40px;
    }
    
    h6{
        font-size: 32px;
    }

    .half-width{
        width: auto;
    }
}


@media screen and (max-width: 480px) {
    h1{
        font-size: 48px;
    }
    
    h2{
        font-size: 32px;
    }
    
    h3{
        font-size: 24px;
    }
    
    h4{
        font-size: 20px;
    }
    
    h5{
        font-size: 18px;
    }
    
    h6{
        font-size: 16px;
    }

    .half-width{
        width: auto;
    }
}